@font-face {
  font-family: 'Amithen';
  src: local('Amithen'), url(./assets/fonts/amithen/Amithen.ttf) format('woff');
}
body {
  margin: 0;
  background-color: #f6f5ea;
}
.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

h1 {
  font-family: 'HCo Gotham SSm', sans-serif;
  font-size: 3.75rem;
  font-weight: 800;
  line-height: 1.2;
  margin: 0 0 15px 0;
}

p {
  font-size: 1rem;
  font-weight: 500;
  display: block;
  cursor: copy;
}

.sub-title {
  font-size: 2.875rem;
  font-family: 'Amithen', sans-serif;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 15px 0;
}

.main-container {
  display: flex;
  margin-top: 4%;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}

.search-bar {
  width: 400px;
  height: 42px;
  line-height: 42px;
  border-radius: 21px;
  display: block;
  box-shadow: none;
  appearance: none;
  padding: 0px 12px !important;
  border: 1px solid rgb(200, 200, 200);
  font-size: 1rem !important;
  font-family: 'HCo Gotham SSm', sans-serif;
  font-weight: 500;
  text-transform: none;
}

.drawer-container,
.lookup-result-container {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  overflow-y: scroll;
}

.drawer-container {
  width: 40vw;
  height: 40vh;
}

.lookup-result-container {
  min-width: 26vw;
  height: 30vh;
  border-radius: 0 0 0 10px;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .search-bar {
    width: 200px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 28px;
  }
  .sub-title {
    font-size: 24px;
  }
  .main-container {
    display: flex;
    margin-top: 4%;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
  }
  .drawer-container,
  .lookup-result-container {
    width: 80vw;
    margin: 0 auto;
  }
  .search-bar {
    max-width: 250px;
    margin: 20px auto;
  }
}
